* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Eras Bold ITC";
  src: url(../ErasBoldITC.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
